
.main{
    .container{
        padding-top: 100px;
        .cards{
            display: flex;
            align-items: center;
            justify-content: center;
            .card{
                padding: 0px 20px 0px 20px;
                .card_item{
                    border: 1px solid grey;
                    width: 280px;
                    height: 380px;
                    .cases{
                        position: relative;
                        .case{
                            padding: 3px;
                            display: inline;
                            background-color: #212519;
                            border-radius: 5px;
                            color: white;
                            position: absolute;
                            right: 5px;
                        }
                    }
                    .img{
                        img{
                            width: 280px;
                            height: 180px;
                        }
                    }
                    .text{
                        .head{
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;
                        }
                        .icon{
                            text-align: center;
                            .bi{
                                color: yellow;
                            }
                        }
                        .about{
                            font-size: 16px;
                            font-style: italic;
                            text-align: center;
                        }
                        .btn{
                            text-align: center;
                            padding-bottom:10px;
                        }
                        button{
                            width: 107;
                            height: 62;
                            font-size: 16px;
                            padding: 10px;
                            cursor: pointer;
                            border-radius: 5px;
                            background-color: white ;
                            border: 1px solid ;
                        }
                        button:hover{
                           transition: 0.2s;
                           background-color: black;
                           color: white;
                        }
                    }
                }
            }
        }
    }
}
